<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
    <%- include('../partials/header'); %>
    </header>

    <main>
    <div class="page-header">
        <p><%= value %></p>
        <br /> <a href="/">Back Home</a>
    </div>
    </main>

</body>
</html>